<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post in details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here the post datails</h2>
    <h4>post id:<%= id = post.id %></h4>
    <!-- <h4>post id: <%= post.id %></h4> -->
    <div class="post">
        <h2 class="username">@<%= post.username %></h2>
        <h4 class="content"><%= post.content %></h4>
        <a href="http://localhost:<%= process.env.YOUR_PORT || port%>/posts">go back</a>
    </div>
    
</body>
</html>